
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

/* Margins, padding and borders */
html, body, h1, h2, h3, h4, h5, h6, a, p, span, em, small, strong, sub, sup, mark, del, ins, strike, abbr, dfn, blockquote, q, cite, code, pre, ol, ul, li, dl, dt, dd, div, section, article, main, aside, nav, header, hgroup, footer, img, figure, figcaption, address, time, audio, video, canvas, iframe, details, summary, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* Typography */
html {font-size: 62.5%;}
body {font-size: 1.7rem; line-height: 1.4; }
a, a:visited {color: inherit; }
nav a {text-decoration: none;}
p {margin: 5px 0;}
/* Layout */
article, aside, footer, header, nav, section, main {
    display: block;
}
* {box-sizing: border-box;}
*:before,
*:after {box-sizing: inherit;}
/* Element specific */
table {border-collapse: collapse; border-spacing: 0;}
ol, ul {list-style: none;}
img, video {max-width: 100%; height: auto;}
img {border-style: none;}

/* Custom Styles */

body {
    font-family: 'Roboto', sans-serif;
    color: #343434;
}

.wrap {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}

