
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.4;
	color: #333;
}

#header {
	background: rgba(0, 0, 0, .1);
}

#header-container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

#logo,
#ham {
	padding: 20px;
}

#logo {
	font-weight: bold;
	font-size: 24px;
}

#ham {
	display: none;
	margin-right: 20px;
	padding: 0;
	width: 36px;
	height: 36px;
	background: url('icons/ham.svg');
	background-repeat: no-repeat;
	background-size: 36px;
	background-position: center;
	cursor: pointer;
}

#ham.ham-close {
	background: url('icons/close.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px;
}

#top-menu {
	list-style: none;
	padding: 0;
	padding-right: 10px;
	margin: 0;
	display: flex;
}

#top-menu a {
	padding: 10px 10px;
	display: block;
	text-decoration: none;
	color: #333;
	transition: all .1s;
}

#top-menu a:hover {
	color: blue;
}

@media screen and (max-width: 1024px) {

	#nav {
		display: none;
		width: 100%;
		background: rgba(0, 0, 0, .1);
	}

	#nav.nav-open { /*Add class in JS*/
		display: block;
	}

		#top-menu {
			flex-wrap: wrap;
			flex-direction: column;
			padding-right: 0;
		}

		ul#top-menu {

		}

		#top-menu li {
			display: block;
			border-bottom: 1px solid rgba(0, 0, 0, .1);
		}

		#top-menu a {
			padding-left: 20px;
		}

		#top-menu a:hover {
			background: rgba(0, 0, 0, .1);
		}

	#ham {
		display: block;
	}


} /* 1024px media end */